# GitHub
#-----------------------------------------------------------------------------------------------------------------------
github_repo_uri:
github_repo:
github_token:
github_release_artifact:
github_release_directories:

# Slack
#-----------------------------------------------------------------------------------------------------------------------
slack_url:
slack_channel:
slack_username:
slack_staging_success:
slack_staging_failure:
slack_production_success:
slack_production_failure:

# Automation
#-----------------------------------------------------------------------------------------------------------------------
automation_private_key:
automation_vpass:

# Quay
#-----------------------------------------------------------------------------------------------------------------------
quay_repository:
quay_username:
quay_password:
